<a href="https://colab.research.google.com/github/sipocz/Colab/blob/main/Segmind_grand_AI_challenge_starter_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Segmind 2021 Grand AI Challenge ##

### Download the dataset ###

In [54]:
!wget https://dockship-public-assets.s3.ap-south-1.amazonaws.com/segmind_grand_ai_challenge_2021-dataset.zip

--2021-05-01 15:15:31--  https://dockship-public-assets.s3.ap-south-1.amazonaws.com/segmind_grand_ai_challenge_2021-dataset.zip
Resolving dockship-public-assets.s3.ap-south-1.amazonaws.com (dockship-public-assets.s3.ap-south-1.amazonaws.com)... 52.219.62.123
Connecting to dockship-public-assets.s3.ap-south-1.amazonaws.com (dockship-public-assets.s3.ap-south-1.amazonaws.com)|52.219.62.123|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6491390 (6.2M) [application/zip]
Saving to: ‘segmind_grand_ai_challenge_2021-dataset.zip.1’

segmind_grand_ai_ch 100%[===================>]   6.19M  2.94MB/s    in 2.1s

2021-05-01 15:15:34 (2.94 MB/s) - ‘segmind_grand_ai_challenge_2021-dataset.zip.1’ saved [6491390/6491390]

### Extract the dataset ###

In [55]:
import zipfile
with zipfile.ZipFile("segmind_grand_ai_challenge_2021-dataset.zip", 'r') as zip_ref:
    zip_ref.extractall()

In [56]:
!pip install pandas
!pip install pycaret

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pycaret in /usr/local/lib/python3.7/dist-packages (2.3.1)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.5.1)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.0.1)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.3.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: mlflow in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.16.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.5)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.4.1)
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.5)
Requirement already satisfied: Boruta in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.23.2)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (4.4.1)
Requirement already satisfied: pyod in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.8.8)
Requirement already satisfied: numpy==1.19.5 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.19.5)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.1)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: mlxtend>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.18.0)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.0)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.2.4)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.11.0)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.1)
Requirement already satisfied: imbalanced-learn==0.7.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.7.0)
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.6.3)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn->pycaret) (0.5.2)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from umap-learn->pycaret) (0.51.2)
Requirement already satisfied: cycler>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick>=1.0.1->pycaret) (0.10.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.11.3)
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (56.0.0)
Requirement already satisfied: funcy in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (1.15)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.3.1)
Requirement already satisfied: gunicorn; platform_system != "Windows" in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: querystring-parser in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: requests>=2.17.3 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (2.23.0)
Requirement already satisfied: alembic<=1.4.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.1)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: docker>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (5.0.0)
Requirement already satisfied: gitpython>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.1.14)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.13)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (2018.9)
Requirement already satisfied: prometheus-flask-exporter in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.18.1)
Requirement already satisfied: databricks-cli>=0.8.7 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.14.3)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.12.4)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.2)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->pycaret) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.2->pycaret) (2.1.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.10.2)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (5.0.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from wordcloud->pycaret) (7.1.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.8.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.4.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.5)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (4.60.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.0.7)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.4.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (20.3.0)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Requirement already satisfied: phik>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.11.2)
Requirement already satisfied: visions[type_image_path]==0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.6.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.36.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.0.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: llvmlite>=0.30 in /usr/local/lib/python3.7/dist-packages (from pynndescent>=0.5->umap-learn->pycaret) (0.34.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->pyLDAvis->pycaret) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.17.3->mlflow->pycaret) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.17.3->mlflow->pycaret) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.17.3->mlflow->pycaret) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.17.3->mlflow->pycaret) (3.0.4)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.7/dist-packages (from alembic<=1.4.1->mlflow->pycaret) (1.0.4)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic<=1.4.1->mlflow->pycaret) (1.1.4)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from docker>=4.0.0->mlflow->pycaret) (0.58.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.7)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.10.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (3.10.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (1.0.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (2.5.1)
Requirement already satisfied: imagehash; extra == "type_image_path" in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (4.2.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->IPython->pycaret) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->IPython->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.7.1)
Requirement already satisfied: smmap<5,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (4.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->mlflow->pycaret) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->mlflow->pycaret) (3.7.4.3)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.9.4)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (22.0.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.3.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.9)

In [57]:
import pandas as pd
df=pd.read_csv("./dataset/TRAIN.csv")

In [58]:
df.tail(3)

        Store  DayOfWeek        Date  ...  Promo  StateHoliday  SchoolHoliday
712043    344          2  2013-10-01  ...      0             0              1
712044    345          2  2013-10-01  ...      0             0              0
712045    346          2  2013-10-01  ...      0             0              0

[3 rows x 9 columns]

In [59]:
type(df["Date"][0])

str

In [60]:
df=df[df["Open"]==1 ]

In [61]:
a=set(df["StateHoliday"])

In [63]:
print(a)
df["a"]=0
df["b"]=0
df["c"]=0
df["zero"]=0

df["Day1"]=0
df["Day2"]=0
df["Day3"]=0
df["Day4"]=0
df["Day5"]=0
df["Day6"]=0
df["Day7"]=0







df["a"][df["StateHoliday"]=="a"]=1


df["b"][df["StateHoliday"]=="b"]=1

df["c"][df["StateHoliday"]=="c"]=1

df["zero"][df["StateHoliday"]=="0"]=1
df["zero"][df["StateHoliday"]==0]=1


df["Day1"][df["DayOfWeek"]==1]=1
df["Day2"][df["DayOfWeek"]==2]=1
df["Day3"][df["DayOfWeek"]==3]=1
df["Day4"][df["DayOfWeek"]==4]=1
df["Day5"][df["DayOfWeek"]==5]=1
df["Day6"][df["DayOfWeek"]==6]=1
df["Day7"][df["DayOfWeek"]==7]=1

maxi=max(list(df["Sales"]))

df["korr"]=df["Sales"]/maxi

{0, 'b', 'c', 'a', '0'}

In [73]:
df["Timestamp"]=pd.to_datetime(df["Date"],format="%Y-%m-%d")

In [82]:
df.head()

   Store  DayOfWeek        Date  Sales  ...  Day6  Day7      korr  Timestamp
0      1          5  2015-07-31   5263  ...     0     0  0.126664 2015-07-31
1      2          5  2015-07-31   6064  ...     0     0  0.145941 2015-07-31
2      3          5  2015-07-31   8314  ...     0     0  0.200091 2015-07-31
3      4          5  2015-07-31  13995  ...     0     0  0.336815 2015-07-31
4      5          5  2015-07-31   4822  ...     0     0  0.116050 2015-07-31

[5 rows x 22 columns]

In [87]:
df.loc[1,"Timestamp"].day_name()

'Friday'

In [88]:
testdf=pd.read_csv("./dataset/TEST.csv")

In [89]:
max(list(df["Sales"]))

41551

In [90]:
testdf[testdf["Store"]==1]

        Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
227         1          1  2013-02-04     1      1            0              0
444         1          3  2013-05-29     1      1            0              0
1191        1          1  2013-07-08     1      0            0              1
1619        1          4  2013-03-28     1      1            0              1
1933        1          4  2013-09-26     1      1            0              0
...       ...        ...         ...   ...    ...          ...            ...
297264      1          7  2013-03-10     0      0            0              0
298023      1          7  2013-01-20     0      0            0              0
299380      1          1  2013-04-15     1      0            0              0
300032      1          1  2013-09-30     1      0            0              0
302953      1          7  2013-04-21     0      0            0              0

[273 rows x 7 columns]

In [91]:
!rm visual_view.py
!wget https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py

--2021-05-01 15:44:58--  https://raw.githubusercontent.com/sipocz/messer/main/visual_view.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1027 (1.0K) [text/plain]
Saving to: ‘visual_view.py’

visual_view.py      100%[===================>]   1.00K  --.-KB/s    in 0s

2021-05-01 15:44:58 (44.7 MB/s) - ‘visual_view.py’ saved [1027/1027]

In [92]:
grafikon=None
from visual_view import grafikon
help(grafikon)

Help on function grafikon in module visual_view:

grafikon(fx, desc1, txt1, desc2='', txt2='', ngraf=2, c1='rgba(35,128,132,0.8)', c2='rgba(193,99,99,0.8)', title=None)
    fx: dataFrame
    desc1:column1
    txt1: label1
    desc2:column2
    txt2: label2
    ngraf: number of graph
    c1: color1
    c2: color2
    title: graph title

In [93]:

from tensorflow.keras.layers import InputLayer, Dense, LSTM, Input, Dropout
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.optimizers import SGD,Adam,Adamax,Nadam,Ftrl,Adadelta
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.backend import clear_session
from tensorflow.keras.losses import mean_absolute_percentage_error

In [94]:
df.tail()

        Store  DayOfWeek        Date  Sales  ...  Day6  Day7      korr  Timestamp
712041    342          2  2013-10-01  10182  ...     0     0  0.245048 2013-10-01
712042    343          2  2013-10-01   5352  ...     0     0  0.128806 2013-10-01
712043    344          2  2013-10-01   6652  ...     0     0  0.160092 2013-10-01
712044    345          2  2013-10-01   3842  ...     0     0  0.092465 2013-10-01
712045    346          2  2013-10-01   6143  ...     0     0  0.147842 2013-10-01

[5 rows x 22 columns]

In [97]:
XXX=df[df["Store"]==3 ][:]

In [104]:
XXX.tail()

            Store  DayOfWeek        Date  ...  Day7      korr  Timestamp
Date                                      ...
2015-07-27      3          1  2015-07-27  ...     0  0.195110 2015-07-27
2015-07-28      3          2  2015-07-28  ...     0  0.213328 2015-07-28
2015-07-29      3          3  2015-07-29  ...     0  0.183148 2015-07-29
2015-07-30      3          4  2015-07-30  ...     0  0.216048 2015-07-30
2015-07-31      3          5  2015-07-31  ...     0  0.200091 2015-07-31

[5 rows x 22 columns]

In [105]:
XXX["Date_index"]=XXX["Timestamp"]
XXX.index=XXX["Date_index"]

In [106]:
XXX.sort_index(inplace=True)

In [107]:
XXX.reindex()

            Store  DayOfWeek        Date  ...      korr  Timestamp  Date_index
Date_index                                ...
2013-10-01      3          2  2013-10-01  ...  0.142066 2013-10-01  2013-10-01
2013-10-02      3          3  2013-10-02  ...  0.145484 2013-10-02  2013-10-02
2013-10-04      3          5  2013-10-04  ...  0.194773 2013-10-04  2013-10-04
2013-10-05      3          6  2013-10-05  ...  0.115569 2013-10-05  2013-10-05
2013-10-07      3          1  2013-10-07  ...  0.259416 2013-10-07  2013-10-07
...           ...        ...         ...  ...       ...        ...         ...
2015-07-27      3          1  2015-07-27  ...  0.195110 2015-07-27  2015-07-27
2015-07-28      3          2  2015-07-28  ...  0.213328 2015-07-28  2015-07-28
2015-07-29      3          3  2015-07-29  ...  0.183148 2015-07-29  2015-07-29
2015-07-30      3          4  2015-07-30  ...  0.216048 2015-07-30  2015-07-30
2015-07-31      3          5  2015-07-31  ...  0.200091 2015-07-31  2015-07-31

[552 rows x 23 columns]

In [108]:
XXX.head(26)

            Store  DayOfWeek        Date  ...      korr  Timestamp  Date_index
Date_index                                ...
2013-10-01      3          2  2013-10-01  ...  0.142066 2013-10-01  2013-10-01
2013-10-02      3          3  2013-10-02  ...  0.145484 2013-10-02  2013-10-02
2013-10-04      3          5  2013-10-04  ...  0.194773 2013-10-04  2013-10-04
2013-10-05      3          6  2013-10-05  ...  0.115569 2013-10-05  2013-10-05
2013-10-07      3          1  2013-10-07  ...  0.259416 2013-10-07  2013-10-07
2013-10-08      3          2  2013-10-08  ...  0.223075 2013-10-08  2013-10-08
2013-10-09      3          3  2013-10-09  ...  0.198551 2013-10-09  2013-10-09
2013-10-10      3          4  2013-10-10  ...  0.209646 2013-10-10  2013-10-10
2013-10-11      3          5  2013-10-11  ...  0.170297 2013-10-11  2013-10-11
2013-10-12      3          6  2013-10-12  ...  0.098096 2013-10-12  2013-10-12
2013-10-14      3          1  2013-10-14  ...  0.143968 2013-10-14  2013-10-14
2013-10-15      3          2  2013-10-15  ...  0.134726 2013-10-15  2013-10-15
2013-10-16      3          3  2013-10-16  ...  0.133884 2013-10-16  2013-10-16
2013-10-17      3          4  2013-10-17  ...  0.126615 2013-10-17  2013-10-17
2013-10-18      3          5  2013-10-18  ...  0.136796 2013-10-18  2013-10-18
2013-10-19      3          6  2013-10-19  ...  0.085870 2013-10-19  2013-10-19
2013-10-21      3          1  2013-10-21  ...  0.233737 2013-10-21  2013-10-21
2013-10-22      3          2  2013-10-22  ...  0.193930 2013-10-22  2013-10-22
2013-10-23      3          3  2013-10-23  ...  0.188660 2013-10-23  2013-10-23
2013-10-24      3          4  2013-10-24  ...  0.172391 2013-10-24  2013-10-24
2013-10-25      3          5  2013-10-25  ...  0.159178 2013-10-25  2013-10-25
2013-10-26      3          6  2013-10-26  ...  0.070660 2013-10-26  2013-10-26
2013-10-28      3          1  2013-10-28  ...  0.096869 2013-10-28  2013-10-28
2013-10-29      3          2  2013-10-29  ...  0.116435 2013-10-29  2013-10-29
2013-10-30      3          3  2013-10-30  ...  0.141994 2013-10-30  2013-10-30
2013-10-31      3          4  2013-10-31  ...  0.157204 2013-10-31  2013-10-31

[26 rows x 23 columns]

In [32]:
prediktorok=["Promo","SchoolHoliday","a","b","c","zero","Day1","Day2","Day3","Day4","Day5","Day6","Day7","korr"]
store=3
X_NN=df[df["Store"]==3 ][prediktorok]
y_NN=df[df["Store"]==3 ]["korr"]

In [33]:
X_NN[X_NN.index==2]["korr"]

2    0.200091
Name: korr, dtype: float64

In [31]:
X_NN["target"]=XXX["korr"]
X_NN.head()
XXX["korr"]
X_NN["target"]

2        NaN
1117     NaN
2232     NaN
3347     NaN
4462     NaN
          ..
705012   NaN
707242   NaN
708357   NaN
710587   NaN
711702   NaN
Name: target, Length: 552, dtype: float64

In [ ]:
from pycaret.regression import *
reg1 = setup(data = XNN, target = 'medv',)
# return best model
best = compare_models()
# return top 3 models based on 'R2'
top3 = compare_models(n_select = 3)
# return best model based on MAPE
best = compare_models(sort = 'MAPE') #default is 'R2'
# compare specific models
best_specific = compare_models(include = ['dt','rf','xgboost'])
# blacklist certain models
best_specific = compare_models(exclude = ['catboost', 'svm'])

In [ ]:
clear_session()



input_size=13
drop_frac0=0.3  
drop_frac1=0.3  

input1=Input(shape=(input_size,))
#lstm1=LSTM(1,dropout=0.91,return_sequences=False)(input1)
l1_out=Dense(9600,activation="swish",)(input1) # 
l2_out=Dropout(drop_frac0)(l1_out)


l3_out=Dense(9000,activation="swish",)(l2_out)
l4_out=Dropout(drop_frac1)(l3_out)

pred=Dense(1,activation="swish")(l4_out)

model = Model(inputs=input1, outputs=pred)
optimizer=SGD(learning_rate=0.0005,) #

model.compile(loss='mse',
    optimizer=optimizer,
    metrics=["mse"])

In [ ]:
 history = model.fit(X_NN, y_NN, epochs=25, batch_size=3, validation_split = 0.2,
                    
                   verbose=1)

In [ ]:
datag=pd.DataFrame()
y_pred=model.predict(X_NN)

In [ ]:
datag["pred"]=list(y_pred.T[0])
datag["y"]=list(y_NN)

In [ ]:
grafikon(datag,"pred","pred","y","y")